

.bg-primary-color {
    background-color: #fff;
}

.primary-color {
    color: #000;
}

.secondary-color{
    color: #fff;
}

.html-color{
    color: #dc3d1c !important;
}

.css-color{
    color: #0062b0 !important; 
}

.bootstrap-color {
    color: #5e00f5 !important;
}

.javascript-color {
    color: #ead41c !important;
}

.php-color {
    color: #7175aa !important;
}

/* Menu */
#navbar a:hover {
    color: #2d2d2d;
}

#navbar a.active {
    position: relative;
}

#navbar a.active:before{
    width: 45%;
    border-top: 1px solid #000;
    content: "";
    position: absolute;
    bottom: 0.3rem;
}

.navbar-brand img {
    width: 55px;
}

.navbar-brand span {
    font-weight: 500;
    font-size: 1em;
    margin-left: -0.3em;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* Capa */
#cover-background {
    background-image: url(../img/fundoHomePB.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 15px 0px 5px 0px;
}

#content-cover article {
    margin-top: 15px;
}

#content-cover span {
    font-size: 1.1em;
}

#content-cover h2 {
    font-weight: bolder;
}

#content-cover a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

#content-cover a:hover {
    border-bottom: 1px solid #fff;
}

#text-cover{
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.3em;
}

#down{
    width: 100%;
    text-align: center;   
}


@keyframes bi-chevron-compact-down{
    0% { opacity: 1;}
    50% { opacity: 0.5;}
    100% { opacity: 0;}
}

.bi-chevron-compact-down{
   -webkit-animation: bi-chevron-compact-down 4s linear infinite;
   -moz-animation: bi-chevron-compact-down 4s linear infinite;
   -ms-animation: bi-chevron-compact-down 4s linear infinite;
   -o-animation: bi-chevron-compact-down 4s linear infinite;
   animation: bi-chevron-compact-down 4s linear infinite;
}


/* Slide */

#slide-title {
    margin-top: 30px;
}

#slide-title span{
    font-size: 1.1em;
    font-weight: 400;
}

#slide-title h2{
    font-weight: bolder;
    margin: 15px 0px 15px 0px;
}

#slide-title p {
    text-align: justify;
}

.slider-container {
    margin-top: 30px;
}

.carousel-caption {
    margin: 0;
    height: 90%;
}

#carousel{
    filter: grayscale(1);
}

#carousel:hover {
    filter: grayscale(0);   
}

.project-details {
    visibility: hidden;
}

#carousel:hover .project-details{
    visibility: visible;
}

#carousel:hover img {
    opacity: .7;
}

.project-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-details span {
    font-size: .9em;
}

.project-details h2 {
    font-size: 1.1em;
    font-weight: bolder;
}

.project-details h3 {
    font-size: .9em;
}

.project-details a {
    text-decoration: none;
}

.project-details a:hover{
    color: #000;
    border-bottom: 1px solid #000;
}

.technologies i{
    color: #000;
    font-size: 1.2em;
}

.carousel-control-prev i, .carousel-control-next i{
    color: #000;
    font-size: 3em;
}

.carousel-indicators [data-bs-target]{
    height: 8px;
    width: 8px;
    border-radius: 80%;
    background-color: #222;
    opacity: 0.8;
}

.carousel-indicators .active{
    background-color: #000;
}

/* Projetos */

.projects {
    margin-top: 30px;
}

.category {
    margin: 30px 0 15px 0;
    font-weight: bolder;
}

.projects hr {
    margin: 3px 0 15px 0;
}

.projects-titles {
    font-size: 1.1em;
    font-weight: 400;
}

.project-information i{
    text-align: end;
    font-size: 1.1em;
    font-weight: 400;
    cursor: pointer;
}

.hide{
    display: none;
}

.project-text {
    margin-top: 30px;
}

.project-text p{
    text-align: justify;
}

.project-text h3 {
    margin: 15px 0 15px 0;
}

.project-text a {
    text-decoration: none;
    color:#000;
    font-size: 1.2em;
}

.project-text a:hover {
    color:#2d2d2d;
}


.project-text .technologies i {
    margin-right: 5px;
    font-size: 2.5em !important;
    margin-top: 15px;
    display: block;
}

.project-text .technologies span {
    margin-top: 15px;
}


.project-text a i{
    font-size: 2em !important;
    margin-right: 5px;
}

.project-text span{
    margin-right: 5px;
}

.image-mob img{
    margin: 0 auto;
    padding-bottom: 50px;
    height: 25vh;
}
/* Footer */

footer{
    background-color: #F5EEEE;
    margin-top: 30px;
}

footer img {
    width: 40px;
}

footer h6 {
    margin-top: 15px;
    font-size: 1.5em;
}

#footer-top{
    padding-top: 15px;
}

#icons {
    margin-top: 15px;
}

#footer-icons i{
    font-size: 25px;
    color: #000;
    margin-right: 15px;
}

#footer-logo {
    font-weight: 500;
    font-size: 1em;
    margin-left: -0.3em;
}

footer p {
    margin: 10px 0px 0px 0px;
    text-align: justify;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover{
    color: #2d2d2d;
}

#copy {
    text-align: center;
    margin: 15px 0 15px 0;
}

@media (min-width: 768px){
    /* Capa */
    #content-cover article {
        height: auto;
        margin: auto;
    }

    /* Slide */
    .project-details span {
        font-size: 2em;
    }

    .project-details h2 {
        font-size: 4em;
    }

    .project-details h3 {
        margin-top: 30px;
        font-size: 2em;
    }
    
    .project-details a {
        margin-top: 15px;
        font-size: 1.5em;
    }

    .technologies i{
        font-size: 2em;
    }

    .carousel-indicators [data-bs-target]{
        height: 20px;
        width: 20px;
        border-radius: 100%;
    }
    
    .carousel-incators-projects [data-bs-target] {
        height: 12px;
        width: 12px;
        border-radius: 100%;
    }  

    /* Projetos  */
    .image-mob img{
        margin: 0 auto;
        height: 70vh;
    }

    .project-text .technologies {
        display: flex;
        justify-items: baseline;
    }

    .project-text .technologies i {
        margin-right: 5px;
        font-size: 2.5em !important;
        margin-top: 0;
    }
    
    .project-text .technologies span {
        margin-top: 15px;
        margin-right: 15px;
    }

    /* Sobre */
    #title-about {
        text-align: center;
        margin-top: 30px;
    }

    #title-about span {
        font-size: 1.2em;
    }

    #title-about h2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #title-about p {
        margin: 0 auto;
        font-size: 1.2em;
        text-align: center;
        width: 80%;
    }

   #about-img .carousel-item{
       height: auto;
   }

   #knowledge h3 {
       margin-top: 15px;
       margin-bottom: 15px;
   }
   
    /* Footer */

    footer img {
        width: 55px;
    }

    footer h6 {
        font-size: 1.5em;
        margin-top: 15px;
    }

    footer p {
        width: 400px;
        margin: 10px 0px 0px 0px;
    }

    #footer-logo{
        font-weight: 600;
        font-size: 1em;
        margin-left: -0.3em;
    }
    
    #footer-icons i{
        font-size: 30px;
        margin-right: 15px;
    }

}
